<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >



  
<link name="main_base_square">
    <visual>
        <origin xyz="0.21 0 0"/>
        <geometry>
            <box size="0.5 0.4 0.1"/>
        </geometry> 
        <material name="magenta"/>
    </visual>
    
    <collision>
        <origin xyz="0.21 0 0"/>
        <geometry>
            <box size="0.5 0.4 0.1"/>
        </geometry> 
    </collision>
    
    <xacro:inertial_box mass="2" x="0.5" y="0.4" z="0.1">
       <origin xyz="0.21 0 0" rpy="0 0 0"/>
    </xacro:inertial_box>
</link>
    
</robot>